body {
    line-height: 1.5;
    display: inline-block;
    vertical-align: middle;
  }

form{
    position: absolute;
    top: 50%;
    right:39%;
    font-family: Arial, sans-serif;
}

nav{
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Arial, sans-serif;
}

nav a:hover {
    color: #4285F4;
  }


button {
    background-color: #e7e7e7; 
    color: black;
    border: 2px solid black;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

input {
    font-size: 16px;
    padding: 10px 10px;
    border:2px solid black;
}

img {
    margin: 0;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  ul li{
    background-color: #e7e7e7; 
    color: black;
    border:2px solid black;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    list-style-type: none;

      
  }